# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# VS Code
.vscode

.gitignore

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Configuration
config.common.json
config.dev.json
config.prod.json

# Misc
.DS_Store

webpack.common.json
webpack.dev.json
webpack.prod.json

tsconfig.json
tsconfig.release.json

src/